google-maps-vue/.DS_Store
google-maps-vue/node_modules
google-maps-vue/dist


# local env files
google-maps-vue/.env.local
google-maps-vue/.env.*.local
google-maps-vue/.env
# Log files
google-maps-vue/npm-debug.log*
google-maps-vue/yarn-debug.log*
google-maps-vue/yarn-error.log*
google-maps-vue/pnpm-debug.log*

# Editor directories and files
google-maps-vue/.idea
google-maps-vue/.vscode
google-maps-vue/*.suo
google-maps-vue/*.ntvs*
google-maps-vue/*.njsproj
google-maps-vue/*.sln
google-maps-vue/*.sw?

backend/Flask/venv
backend/Flask/*.pkl
backend/Machine Learning/*.pkl
backend/Machine Learning/MLvenv
backend/Machine Learning/MLvenv11
backend/Machine Learning/AutogluonModels
backend/Machine Learning/Autogluon_AutoML_log
backend/Machine Learning/rentbike
backend/Machine Learning/returnbike
backend/Machine Learning/rent_bike_weight_for_each_station
backend/Machine Learning/return_bike_weight_for_each_station
backend/Machine Learning/bike/first/first_rent/rentbike.csv
backend/Machine Learning/bike/first/first_return/returnbike.csv
backend/Machine Learning/bike/second/second_rent/rentbike.csv
backend/Machine Learning/bike/second/second_return/returnbike.csv
backend/Machine Learning/bike/third/third_rent/rentbike.csv
backend/Machine Learning/bike/third/third_return/returnbike.csv
backend/Machine Learning/bike/fourth/fourth_rent/rentbike.csv
backend/Machine Learning/bike/fourth/fourth_return/returnbike.csv
backend/Machine Learning/bike/fifth/fifth_rent/rentbike.csv
backend/Machine Learning/bike/fifth/fifth_return/returnbike.csv
backend/Machine Learning/bike/sixth/sixth_rent/rentbike.csv
backend/Machine Learning/bike/sixth/sixth_return/returnbike.csv
backend/Machine Learning/bike/seventh/seventh_rent/rentbike.csv
backend/Machine Learning/bike/seventh/seventh_return/returnbike.csv

